@media (max-width: 1200px) {
  .top-container {
    margin: 0 10px; 
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 10px;

  }

  .left-section,
  .middle-section,
  .right-section {
    font-weight: 800;
    font-size: medium;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
    position: relative;
    overflow: hidden;
  }

  .title-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    position: relative;
    font-weight: 1000;
    color: white;
  }
  
  .sub-title {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(133, 131, 131);
    font-weight: 900;
    margin-top: 200px;
    font-size: 20px;
    position: absolute;
    transition: opacity 3s ease, transform 3s ease;
    text-align: center;
    display: flex; 
    align-items: center;
  }

  .input-container {
    flex-direction: column; 
    width: 80%; 
  }

  input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }

  .info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 900;
  }

  .info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .info-left,
  .info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 50%; 
  }

  .label {
    font-size: 20px;
    font-weight: 700;
  }
  .value{
    font-weight: 200;
  }

  .button-container {
    margin-bottom: 40px;
  }

  button {
    padding: 20px 70px;
  }

  .button-in-container{
    color: black;
    border: black 0.13rem solid;
  }
	.button-find-another{
    color: grey;
    border: grey 0.13rem solid;
		width: 100%;
  }

  .image-container {
    max-width: 100%;
		top: 20px;
  }

  .pop-up-container{
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 5);
  padding: 10px 10px 40px 10px;
  border-radius: 10px;
  color: black;
  position: relative; 
  z-index: 1; 
  }
  
  .details {
    font-weight: 200;
  }
  .description-label{
    font-weight: 700;
    font-size:23px;
  }
  .details::after {
    content: "";
    display: block;
    height: 1.5px;
    width: 100%;
    background: linear-gradient(to right, transparent, #000, transparent);
    margin: 30px 0;
  }
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}